
* {
    padding: 0;
    margin: 0;
}

body{
    height: 100vh;
    width: 100vw;
    position: absolute; /* Allows the body to be centered */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    overflow: hidden;
}

.game{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /*padding:20px;*/

    background: #a85201;
}



/*#board{
    display: grid;
    grid-template-columns: repeat(8, 1fr); !* Creates 8 columns *!
    grid-template-rows: repeat(8, 1fr); !* Creates 8 rows *!
}*/

